body {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	font-feature-settings: "palt";
}

pre {
	border: 1px solid #000;
	background: #ffc;
	word-wrap: break-word;
	white-space: pre-wrap;
	padding: 0.5em
}
